html, body {
  background: #ccc;
  background: #262a38;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 14px;
  line-height: 1.5;
}

h2, h3, h4 {
  margin: 0;
  padding: 0;
  font-weight: normal;
  line-height: 1;
}

h2 {
  color: #bbb;
}


.App {
  display: flex;
  justify-content: space-between;

  margin: 20px;
}

.App .column {
  flex: 1;
  padding: 0 10px;
  margin-right: 10px;
  min-width: 260px;
}

.App .column:last-child {
  margin: 0;
}

.ticket-contain {
  background: #262a38;
}

.ticket {
  background: #efefef;
  padding: 10px;
  margin-bottom: 5px;
}

h2 {
  margin-bottom: 7px;
}
